#header
  background: rgba($color_lightgray, .75)
  +respond-to("medium-up")
    padding-top: $spacer-vertical * 4
    padding-bottom: $spacer-vertical * 4
  +respond-to("small-only")
    padding-top: $spacer-vertical * 2
    padding-bottom: $spacer-vertical * 2

  .s-header_nav
    padding-top: 2rem
  .e-header_title
    +sassline(alpha, $font_sansserif_bold_en, 2.0, 2.0, all)
    +respond-to("medium-up")
    +respond-to("small-only")
      text-align: center
