.m-list-article
  > a
    display: block
  img
    display: block
    // margin-bottom: 0.5rem
  .title
    +sassline($font_size_xlarge, $font_heading_type, 2, 0, all)
    color: $color_gray
  .date
    +small
    margin-bottom: 0
    color: $color_gray
