.m-list-article
  > a
    display: block
  img
    display: block
  .title
    margin-top: .25rem
    +sassline(zeta, $font_body_type, 1.8, .5, all)
    color: $text_color
  .date
    +small
    margin-bottom: 0
    color: $color_gray
