.m-exemption-section
  h3
    color: $color_gray
    line-height: 1em
    +rem("font-size", $font_size_medium)
  li
    color: $color_gray
    +rem("font-size", $font_size_medium)


.m-recommend-tab
  .tabs,
  .tabs-content
    width: 100%

  .tabs
    border-bottom: 2px solid $color_lightgray
    dd
      width: 50%
      background: #eee
  .tabs-content
    .content
      padding: 0
    li
      border-bottom: 1px solid $color_lightgray
      padding: 10px 0
      a
        color: $text_color



  .more
    text-align: right



.m-share_box
  > span
    display: block
    margin-bottom: 10px
.dmy-box
  width: 100%
  padding: 30px
  margin: 34px 0
  background: lighten(pink, 6%)