.e-header_title
  $size: $font_size_xxlarge
  +fontfamily_sansserif_bold
  +rem("font-size", $size)
  +rem("letter-spacing", 2px)
  margin: 0
  line-height: 1.8
  color: $color_darkgray
  a
    border-bottom: none
    color: $color_darkgray

.e-page_title
  $size: $font_size_xlarge
  +fontfamily_sansserif_bold
  +rem("font-size", $size)
  +rem("letter-spacing", 2px)
  margin: 0
  line-height: 1.8
  color: $color_darkgray
  a
    border-bottom: none
    color: $color_darkgray
  small
    $size: $font_size_small
    +rem("font-size", $size)
    +fontfamily_sansserif_bold
    margin: 0 0 0 $size
    color: $color_darkgray

.e-section-title
  line-height: 1.8
  +fontfamily_sansserif_bold
  +respond-to("small-only")
    +rem("font-size", $font_size_large)
  +respond-to("medium-up")
    +rem("font-size", $font_size_large)
  +rem("margin", 0 0 $font_size_medium)

.e-content-title
  line-height: 1.8
  +fontfamily_sansserif_bold
  +rem("margin", 0 0 $font_size_medium)
  +respond-to("small-only")
    +rem("font-size", $font_size_medium * 1.2)
  +respond-to("medium-up")
    +rem("font-size", $font_size_medium * 1.2)
