body
  +fontfamily_sansserif
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed
  line-height: 1.8em
a
  text-decoration: none
  color: $link_color
  -webkit-transition: all .1s ease
  &:hover
    color: $hover_color
  &:visited
    color: $visited_color

p
  color: $text_color
  +fontfamily_sansserif
  +rem("margin", $size 0)
  +rem("font-size", $size)
  +rem("line-height", $size * 1.8)
  +respond-to("small-only")
    +rem("line-height", $size * 2)

  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  &.lead
    $size: $font_size_xlarge
    +rem("font-size", $size)
    +rem("line-height", $size * 1.6)
    +rem("margin", 0 0 $size 0)
  &.note
    +fontfamily_sansserif
    $size: $font_size_small
    color: #333
    +rem("margin", $size * 0.8 0)
    +rem("font-size", $size)
    +rem("line-height", $size * 1.8)

dl
  +rem("margin", $size * 2 0)
  dt
    +fontfamily_sansserif_bold
    +rem("margin", $size * 2 0 $size * .5 0)
    +rem("font-size", $size)
    +rem("line-height", $size * 1.2)
    &:first-child
      margin-top: 0
  dd
    margin: 0
    p
      margin: 0
      letter-spacing: 0

ul, ol
  margin: 0
  padding: 0

li
  list-style: none

// 記事内の文章の typography はこちら
.m-content
  $size: $font_size_medium * 1.2
  h2
    +rem("margin", $size 0)
    line-height: 2
  p
    +rem("margin", $size 0)
    line-height: 2


  strong
  em
  del
    // text-decoration: line-through
  blockquote
    border-left: 2px solid $color_gray
    padding: $size 0 $size $size * 2
    margin: $size 0
    -webkit-margin-start: 0px
    -webkit-margin-end: 0px
    position: relative
    p:first-child
      margin-top: 0
    p:last-child
      margin-bottom: 0
  ul,ol
    padding-left: $size * 1.2
  ul
    li
      list-style-type: disc
  ol
    li
      list-style-type: decimal
  a
    text-decoration: underline
