
// ---------------------------------------------------------------
//color
// ---------------------------------------------------------------
$color_theme: #f0810b

$color_darkgray: #333
$color_gray: #999
$color_lightgray: #e1e1e1


$link_color: $color_theme
$hover_color: lighten($color_theme, 3%)
$visited_color: darken($color_theme, 3%)

$text_color: #333
$bg_color: #fff

$key_red_color: #ff605b
$key_color: #94d045
