+respond-to("large-up")
  .row-large-up
    width: 1080px
    margin-left: auto
    margin-right: auto
    max-width: 100%

  .row-full
    // margin: 0 15px
    > .columns
      padding: 0
      float: none
      clear: both




+respond-to("small-only")
  .row-full
    margin: 15px






@mixin selection
  ::-moz-selection
    @content
  ::selection
    @content

+selection
  color: #fff
  background: $key_red_color