// _section.sass は主に 縦マージンに関する記述
// 全ページに適応される

$section_margin: 30px

body
  position: relative

#container
  overflow: hidden

// #main
//   margin: $section_margin * 2 0

.page-header
  margin: $section_margin * 2 0

.page-section
  margin: $section_margin * 2 0
  .l-article-column &
    margin-top: 0

.content-section
  margin: $section_margin * 2 0
