{% extends 'layouts/application.html' %}

{% block page_id %}article{% endblock %}

{% block ogp %}
  <meta property="og:title" content="OPG TITLE">
  <meta property="og:description" content="OPG DESCRIPTION">
  <meta property="og:url" content="OPG URL">
  <meta property="og:image" content="OPG IMAGE">
  <meta property="og:site_name" content="OPG SITE_NAME">
  <meta property="og:type" content="OPG TYPE">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="TWITTER SITE">
  <meta name="twitter:title" content="TWITTER TITLE">
  <meta name="twitter:description" content="TWITTER DESCRIPTION">
  <meta name="twitter:image:src" content="TWITTER IMAGE:SRC">
  <meta name="twitter:domain" content="TWITTER DOMAIN">
{% endblock %}

{% block main %}
<section id="main" class="l-article">
  <section class="s-main_content page-section">
    <div class="row">
      <div class="small-12 medium-8 large-8 columns">
        <header class="content-section s-article-header">
          <ul class="breadcrumbs">
            <li><a href="./">Home</a></li>
            <li class="current"><a href="javascript:void(0)">Article</a></li>
          </ul>
          <h1 class="e-page_title title">ARTILCE TITLE</h1>
          <p class="date text-right">Feb 10, 2016</p>
        </header>
        <section class="content-section">
          <p><img src="http://dummyimage.com/800x600/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image"></p>
        </section>
        <section class="content-section">
          <div class="m-content">
            <p>ここはダミー記事の一部です。 google material design 文章を使っています。</p>
            <h2>h2 をつかったタイトル</h2>
            <p>この文章はダミーです。タグのサンプルに使っています。ここにサンプルで記述していきます。このあとには br  がはいります。<br>
            これは <a href="">Anchor</a> のサンプルです。</p>
            <p>これは <strong>strong</strong> の確認をしています。<br>つづいて <em>em</em> のテストです。<br>さらには <del>del</del> のテストです。</p>
            <p>ここで blockquote です。</p>
            <blockquote cite="http://example.com/facts">
              <p>The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
              <p>The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
              <p>The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
            </blockquote>
            <p>ここは p タグの通常の文章ですが、すぐしたに ul のリストが入っています。</p>
            <ul>
              <li>リスト 01</li>
              <li>リスト 02</li>
              <li>リスト 03</li>
            </ul>
            <p>ここも p タグの通常の文章ですが、すぐしたに ol のリストが入っています。ordered list の略なので順番があります。</p>
            <ol>
              <li>リスト 01</li>
              <li>リスト 02</li>
              <li>リスト 03</li>
            </ol>
            <h2>Material is the metaphor</h2>
            <p>We challenged ourselves to create a visual language for our users that synthesizes the classic principles of good design with the innovation and possibility of technology and science. This is material design. This spec is a living document that will be updated as we continue to develop the tenets and specifics of material design.</p>
            <p><img src="http://dummyimage.com/800x600/7777ff/eee.gif&text=placeholder+image" alt="placeholder+image"></p>
            <p>A material metaphor is the unifying theory of a rationalized space and a system of motion. The material is grounded in tactile reality, inspired by the study of paper and ink, yet technologically advanced and open to imagination and magic.
            <p>Surfaces and edges of the material provide visual cues that are grounded in reality. The use of familiar tactile attributes helps users quickly understand affordances. Yet the flexibility of the material creates new affordances that supercede those in the physical world, without breaking the rules of physics.</p>
            <h2>Material is the metaphor</h2>
            <p>The fundamentals of light, surface, and movement are key to conveying how objects move, interact, and exist in space and in relation to each other. Realistic lighting shows seams, divides space, and indicates moving parts.</p>
          </div>
        </section>
      </div>
      <div class="small-12 medium-4 large-4 columns">
        {% include "sections/sidebar.html" %}
      </div>
    </div>
  </section>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}