{% set id = 'home' %}
{% extends 'layouts/application.html' %}
{% block ogp %}
{% endblock %}
{% block main %}
<section id="main" class="l-home">
  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="e-page-title">Menu</h2>
      </div>
    </div>
  </header>

  <section class="page-section s-main">
    <section class="page-section s-xxx">
      <section class="content-section">
        <div class="row">
          <div class="columns">
            <ul class="list-link">
              <li><a href="starter-article.html">article</a></li>
              <li><a href="starter-list.html">list</a></li>
              <li><a href="starter-snippet.html">snippet</a></li>
              <li><a href="starter-theme.html">theme</a></li>
              <li><a href="starter-typography.html">typography</a></li>
            </ul>
          </div>
        </div>
      </section>
    </section>
  </section>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}
