{% set id = 'home' %}
{% extends 'layouts/application.html' %}
{% block ogp %}
  <meta property="og:title" content="OPG TITLE">
  <meta property="og:description" content="OPG DESCRIPTION">
  <meta property="og:url" content="OPG URL">
  <meta property="og:image" content="OPG IMAGE">
  <meta property="og:site_name" content="OPG SITE_NAME">
  <meta property="og:type" content="OPG TYPE">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="TWITTER SITE">
  <meta name="twitter:title" content="TWITTER TITLE">
  <meta name="twitter:description" content="TWITTER DESCRIPTION">
  <meta name="twitter:image:src" content="TWITTER IMAGE:SRC">
  <meta name="twitter:domain" content="TWITTER DOMAIN">
{% endblock %}
{% block main %}
<section id="main" class="l-home">
  <header class="s-main_header page-header">
    <div class="row">
      <div class="columns">
        <h2 class="e-page_title">はじめに</h2>
      </div>
    </div>
  </header>
  <section class="s-main_content page-section">
    <div class="row">
      <div class="medium-8 large-8 columns">
        <section class="content-section typeset">
          <h3 class="e-section-title">インターネットの管理と経緯</h3>
          <p>インターネットにおいて一般的に利用される各種の技術や管理制度は、歴史的経緯から一般に公開されているものが多い。インターネット上においては特定の集中した責任主体は存在しない。全体を1つの組織・ネットワークとして管理するのではなく、接続している組織が各ネットワークを管理する建前となっている。事実上の管理主体（<a href="#">IETF</a>など）はあるにしても、それは接続している組織・ネットワークの総意として委任されていると言う建前になっている（国際的に中立的とされ、また一部は<a href="#">国際機関</a>による管理もある）。それはインターネット・プロトコルの開発においても同様であり、RFC（<a href="#">Request for Comments</a>）に具体化される。ただし、ICANNは<a href="#">非営利団体</a>ながらも<a href="#">米商務省</a>の傘下にあり、国際問題となっている。</p>
          <p>IP においては、基本的に通信するコンピュータごとに（厳密には機器のインターフェイスごとに）唯一無二の「IPアドレス」と呼ばれる固有番号を割り当てられることが通信時の前提となっており、IPを採用するインターネットにおいても、接続する各組織に対して固有のIPアドレスの領域（範囲）がそれぞれ割り当てられる。各組織はそれぞれに割り当てられたIPアドレス領域の中の固有の番号を、所有する各コンピュータに割り当てる。</p>
          <p>世界的に常時接続環境が提供されているのは都市部が中心で、山間部や離島などとの<a href="#">情報格差</a>が問題になっている。その都市部や先進国でも当初、パソコンが高価だったことや、操作体系が複雑だったことから、<a href="#">アルビン・トフラー</a>は、パソコンスキルの有無や経済力で情報格差が生じると予想していた。だが後に「誤算があった」として、パソコンの低価格化などにより、誰にでも広く普及すると発言を修正した。また操作方法も、インターネットに対応した<a href="#">フィーチャーフォン</a>（3G携帯）、<a href="#">スマートフォン</a>、<a href="#">タブレット</a>端末、或いは<a href="#">スマートテレビ</a>などの登場で、かつてのパソコンと比べ格段に容易になり、ネットアクセスに高度なスキルが余り必要とされなくなったこともあり、操作スキルの有無による格差も以前ほど生じにくくなっている。</p>
          <p>発展途上国では多くの国民にとって端末のパソコンが高価であり通信料金も高いため、インターネットカフェがインターネットの普及を支えているが、近年は途上国向けの格安パソコンや格安スマートフォンが徐々に普及しつつある。</p>
        </section>
        <section class="content-section">
          <h3 class="e-section-title">Recommend Posts</h3>
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
            {% for i in [1,2,3,4] %}
              {% include "modules/article.html" %}
            {% endfor %}
          </ul>
        </section>
        <section class="content-section">
          <h3 class="e-section-title">Recently Posts</h3>
          <p>
            <a href="/images/_dummy.jpg" data-rel="lightcase">lightcase js plugin sample (when you turn off comment)</a>
          </p>
        </section>
      </div>
      <div class="medium-4 large-4 columns">
        {% include "sections/sidebar.html" %}
      </div>
    </div>
  </section>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}