{#
  ### Commets ###

  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html

  block: ページごとに違うもの
  include: 同じ要素を使いまわしたい時
#}


{% extends 'application.html' %}

{% block ogp %}
  <meta property="og:title" content="OPG TITLE">
  <meta property="og:description" content="OPG DESCRIPTION">
  <meta property="og:url" content="OPG URL">
  <meta property="og:image" content="OPG IMAGE">
  <meta property="og:site_name" content="OPG SITE_NAME">
  <meta property="og:type" content="OPG TYPE">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="TWITTER SITE">
  <meta name="twitter:title" content="TWITTER TITLE">
  <meta name="twitter:description" content="TWITTER DESCRIPTION">
  <meta name="twitter:image:src" content="TWITTER IMAGE:SRC">
  <meta name="twitter:domain" content="TWITTER DOMAIN">
{% endblock %}

{% block content %}
  <section id="main">
    <img src="images/gulp.png" alt="gulp.js">
    <h4>Ubiquitous Social Icons!</h4>
    {% include "includes/social-icons-font.html" %}
    {% include "includes/social-icons-svg.html" %}
    <button id="button">Manually Load Async Module</button>
    <p data-module="Highlight">An auto-loaded async module highlighted this!</p>
  </section>
{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
{% endblock %}
