{% set id = 'home' %}
{% extends 'layouts/application.html' %}
{% block ogp %}
{% endblock %}
{% block main %}
<section id="main" class="l-home">
  <header class="page-header">
    <div class="row">
      <div class="columns">
        <h2 class="e-page-title">Typography</h2>
      </div>
    </div>
  </header>
  <section class="page-section s-main">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_sansserif_alpha">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_beta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_gamma">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_delta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_epsilon">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_zeta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_eta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_theta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_iota">インターネットの外側を、もっと楽しく豊かに。</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif Bold</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_sansserif_bold_alpha">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_beta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_gamma">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_delta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_epsilon">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_zeta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_eta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_theta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_sansserif_bold_iota">インターネットの外側を、もっと楽しく豊かに。</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_serif_alpha">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_beta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_gamma">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_delta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_epsilon">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_zeta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_eta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_theta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_iota">インターネットの外側を、もっと楽しく豊かに。</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Bold</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_serif_bold_alpha">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_beta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_gamma">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_delta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_epsilon">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_zeta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_eta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_theta">インターネットの外側を、もっと楽しく豊かに。</p>
          <p class="font_serif_bold_iota">インターネットの外側を、もっと楽しく豊かに。</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif English</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_sansserif_en_alpha">Make it good outside of the internet</p>
          <p class="font_sansserif_en_beta">Make it good outside of the internet</p>
          <p class="font_sansserif_en_gamma">Make it good outside of the internet</p>
          <p class="font_sansserif_en_delta">Make it good outside of the internet</p>
          <p class="font_sansserif_en_epsilon">Make it good outside of the internet</p>
          <p class="font_sansserif_en_zeta">Make it good outside of the internet</p>
          <p class="font_sansserif_en_eta">Make it good outside of the internet</p>
          <p class="font_sansserif_en_theta">Make it good outside of the internet</p>
          <p class="font_sansserif_en_iota">Make it good outside of the internet</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif Bold English</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_sansserif_bold_en_alpha">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_beta">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_gamma">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_delta">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_epsilon">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_zeta">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_eta">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_theta">Make it good outside of the internet</p>
          <p class="font_sansserif_bold_en_iota">Make it good outside of the internet</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Serif English</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_serif_en_alpha">Make it good outside of the internet</p>
          <p class="font_serif_en_beta">Make it good outside of the internet</p>
          <p class="font_serif_en_gamma">Make it good outside of the internet</p>
          <p class="font_serif_en_delta">Make it good outside of the internet</p>
          <p class="font_serif_en_epsilon">Make it good outside of the internet</p>
          <p class="font_serif_en_zeta">Make it good outside of the internet</p>
          <p class="font_serif_en_eta">Make it good outside of the internet</p>
          <p class="font_serif_en_theta">Make it good outside of the internet</p>
          <p class="font_serif_en_iota">Make it good outside of the internet</p>
        </div>
      </div>
    </section>
  </section>

  <section class="page-section s-xxx">
    <header class="content-header">
      <div class="row">
        <div class="columns">
          <h2 class="e-section-title">Sans Bold English</h2>
        </div>
      </div>
    </header>
    <section class="content-section">
      <div class="row">
        <div class="columns">
          <p class="font_serif_bold_en_alpha">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_beta">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_gamma">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_delta">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_epsilon">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_zeta">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_eta">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_theta">Make it good outside of the internet</p>
          <p class="font_serif_bold_en_iota">Make it good outside of the internet</p>
        </div>
      </div>
    </section>
  </section>

</section>
{% endblock %}
{% block javascript %}
{% endblock %}
