        <section class="content-section">
          <h3 class="e-content-title">CATEGORIES</h3>
          <ul class="m-text_list">
            <li><a href="list.html">category_01</a></li>
            <li><a href="list.html">category_02</a></li>
            <li><a href="list.html">category_03</a></li>
            <li><a href="list.html">category_04</a></li>
            <li><a href="list.html">category_05</a></li>
          </ul>
        </section>
        <section class="content-section">
          <h3 class="e-content-title">RECENT POSTS</h3>
          <ul class="m-text_list">
            <li><a href="article.html">Article 01</a></li>
            <li><a href="article.html">Article 02</a></li>
            <li><a href="article.html">Article 03</a></li>
            <li><a href="article.html">Article 04</a></li>
            <li><a href="">Article 05</a></li>
          </ul>
        </section>
        <section class="content-section">
          <h3 class="e-content-title">POSTS ARCHIVES</h3>
          <ul class="m-text_list">
            <li><a href="list.html">Feb,2016</a></li>
            <li><a href="list.html">Jan,2016</a></li>
            <li><a href="list.html">Dec,2015</a></li>
            <li><a href="list.html">Nov,2015</a></li>
            <li><a href="list.html">Oct,2015</a></li>
          </ul>
        </section>
        <section class="content-section">
          <p class="social-icons">
            {% for key, value in social %}
              <a class="icon -{{ key }}" href="{{ value.url }}" target="_blank"></a>
            {% endfor %}
          </p>
        </section>
        {% from 'helpers/helpers.html' import sprite %}
        <section class="content-section">
          <p class="social-icons">
            {% for key, value in social %}
              <a href="{{ value.url }}" target="_blank">
                {{ sprite(key) }}
              </a>
            {% endfor %}
          </p>
        </section>
