{% from 'helpers/helpers.html' import sprite %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ja"><![endif]-->
<!--[if IE 7]>   <html class="no-js lt-ie9 lt-ie8" lang="ja"><![endif]-->
<!--[if IE 8]>   <html class="no-js lt-ie9" lang="ja"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ja"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Defaults Title{% endblock %}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/lightcase/2.3.6/css/lightcase.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/yakuhanjp/1.3.1/css/yakuhanjp.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lora:400,700">
  <link rel="stylesheet" href="/stylesheets/app.css">
  {% block stylesheet %}{% endblock %}
  {% block head %}
  <meta name="description" content="Dedault description">
  {% endblock %}
  {% block ogp %}
  <meta property="fb:app_id" content="">
  <meta property="og:title" content="OPG TITLE">
  <meta property="og:description" content="OPG DESCRIPTION">
  <meta property="og:url" content="OPG URL">
  <meta property="og:image" content="OPG IMAGE">
  <meta property="og:site_name" content="OPG SITE_NAME">
  <meta property="og:type" content="OPG TYPE">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Twitter">
  <meta name="twitter:title" content="TWITTER TITLE">
  <meta name="twitter:description" content="TWITTER DESCRIPTION">
  <meta name="twitter:url" content="http://example.com/article/post01.html">
  <meta name="twitter:image" content="TWITTER IMAGE">
  <meta name="twitter:domain" content="TWITTER DOMAIN">
  {% endblock %}
  {% include "includes/app-icons.html" %}
  <script src="javascripts/modernizr-bundle.js"></script>
</head>
<body class="{{id}}" data-page-id="{{id}}">
  <div id="container">
    {% include "sections/header.html" %}
    {% block main %}{% endblock %}
    {% include "sections/footer.html" %}
  </div>
  {% include "includes/loader-svg.html" %}
  <script src="//code.jquery.com/jquery-1.12.2.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/plugins/foundation.magellan.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lightcase/2.3.6/js/lightcase.min.js"></script>
  <script src="javascripts/shared.js"></script>
  <script src="javascripts/app.js"></script>
  <script>
    $(function(){
      $('a[data-rel^=lightcase]').lightcase();
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXXXXX-1', 'auto');
    ga('send', 'pageview');

  </script>
  {% block javascript %}
    {# If using js libraries, put them here  #}
  {% endblock %}
</body>
</html>
